[submodule "DropKaraoke.xcodeproj/project.xcworkspace/xcuserdata/hatanokenta.xcuserdatad/VocalKiller"]
	path = DropKaraoke.xcodeproj/project.xcworkspace/xcuserdata/hatanokenta.xcuserdatad/VocalKiller
	url = https://github.com/k-hatano/VocalKiller.git
